<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book shelf login</title>
    <meta charset="UTF-8">
    <style>
        #registration_form {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .registration_item {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div id="registration_form">
    <form method="post" th:action="@{/registration/auth}" th:object="${loginForm}">
        <img class="registration_item" th:src="@{/images/registration_icon.jpg}">
        <br>
        <p th:text="${errorMessage}" style="color: red"></p>
        <input class="registration_item" type="text" placeholder="enter username" th:field="*{username}">
        <br>
        <input class="registration_item" type="password" placeholder="password" th:field="*{password}">
        <br>
        <input class="registration_item" type="submit" value="registration">
    </form>
    <form method="get" th:action="@{/login}">
        <input class="back" type="submit" value="back">
    </form>
</div>

</body>
</html>
